.turntable-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 1200px;
    margin-left: -500px;
    margin-top: -600px;
    z-index: 14;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100px;
        height: 118px;
        background: url(../image/checkin_a/close.png) 40px 20px no-repeat;
        background-size: 30%;
    }
}

.golds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    overflow: hidden;

    .gold {
        position: absolute;
        width: 44px;
        height: 46px;

        &.gold1 {
            left: 28px;
            
        }
        &.gold2 {
            left: 102px;
        }
        &.gold3 {
            left: 140px;
        }
        &.gold4 {
            left: 208px;
        }
        &.gold5 {
            left: 810px;
        }
        &.gold6 {
            left: 955px;
        }
        &.gold7 {
            left: 1055px;
        }
        &.gold8 {
            left: 1130px;
        }
        &.gold9 {
            left: 1032px;
        }
        &.gold10 {
            left: 1165px;
        }
    }
}

.tip2 {
    width: 1120px;
    margin: 38px auto 0;
    text-align: center;
}

.pt_unenough {
    display: inline-block;
    color: #fff6c2;
    font-size: 40px;
    height: 80px;   
    line-height: 80px;
    padding: 0 55px;
    text-align: center;
    border: 1px dashed #fff6c2;
    border-radius: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yuwi {
    margin-top: 50px;
    text-align: center;
}