body.xy {
    background: #ff4d4d;
}

.turntable-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 1200px;
    margin-left: -500px;
    margin-top: -600px;
    z-index: 14;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100px;
        height: 118px;
        background: url(../image/checkin_a/close.png) 40px 20px no-repeat;
        background-size: 30%;
    }
}


.tip2 {
    width: 1120px;
    margin: 38px auto 0;
    text-align: center;
}

.pt_unenough {
    display: inline-block;
    color: #fff6c2;
    font-size: 40px;
    height: 80px;   
    line-height: 80px;
    padding: 0 55px;
    text-align: center;
    border: 1px dashed #fff6c2;
    border-radius: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yuwi {
    margin-top: 50px;
    text-align: center;
}

.ci-ti {
    width: 100%;
}

.show-calendar {
    position: relative;
    width: 320px;
    height: 400px;
    margin: 80px auto 0;

    .calendar-paper {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #4b4b4b;

        .wdpt {
            padding-top: 70px;
        }

        .accumulate-type {
            font-size: 36px;
            color: #757575;
        }
    }
}

.help {
    position: absolute;
    top: 182px;
    left: 80px;
    width: 60px;
    height: 60px;
    background: url(../image/checkin_a/help.png) center center no-repeat;
    background-size: 100%;
}

.wdjp {
    position: absolute;
    top: 155px;
    right: 80px;
    width: 280px;
    height: 100px;
    background: url(../image/checkin_a/wdjp.png) center center no-repeat;
    background-size: 100%;
}

.ci-accumulate {
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -201px;
    color: #ff4d4d;
    width: 402px;
    font-size: 28px;
    height: 402px;
    text-align: center;
}

.hdgz {
    position: absolute;
    right: 0;
    top: 145px;
    width: 255px;
    height: 92px;
    background: url(../image/checkin_a/hdgz.png) center center no-repeat;
    background-size: 100%;
}

.accumulate-num {
    font-size: 100px;
}

.tb {
    display: table;
    width: 100%;
    height: 100%;
}
.tb-cell {
    display: table-cell;
    vertical-align: middle;
}

.chw {
    padding-top: 550px;
}

.checkin_wap {
    position: relative;
    width: 1100px;
    height: 1200px;
    margin: 0 auto ;
    background: #fff url(../image/checkin_a/person.png) center bottom no-repeat;
    background-size: 75%;
    border-radius: 50px;
    box-shadow: 0 0 62px rgba(158,12,9,0.68);
}

.ca-head {
    position: absolute;
    left: 50%;
    margin-left: -402px;
    top: -49px;
    width: 805px;
    height: 125px;
    background: url(../image/checkin_a/calendar-head.png) center center no-repeat;
    background-size: 100%;
}

.in-b {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cr-day-s {
    margin-top: 150px;
    width: 100%;
    height: 505px;
    overflow-x: hidden;
    overflow-y: auto;
}

.circle-day {
    position: relative;
    float: left;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 1px solid #666;
    margin-left: 88px;
    margin-top: 30px;
    margin-bottom: 30px;

    .gift-icon {
        position: absolute;
        bottom: 0;
        right: -35px;
        width: 60px;
        height: 50px;
        display: block;
        background: url(../image/checkin_a/gift-bling.png) center center no-repeat;
        background-size: 100%;
    }

    &.active {
        border-color: #ff5555;

        &::before {
            position: absolute;
            content: '';
            width: 88px;
            height: 1px;
            background: #ff5555;
            left: -88px;
            top: 50%;
        }

        .cd-inner {
            background: #ff5555;
            color: #fff;
        }
    }

    .cd-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -84px;
        margin-left: -84px;
        background: #fff;
        width: 169px;
        height: 169px;
        border-radius: 100%;
        color: #666;
        font-size: 36px;
        text-align: center;

        .cd-tn {
            display: table;
            width: 100%;
            height: 100%;

            div {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    &::before {
        position: absolute;
        content: '';
        width: 88px;
        height: 1px;
        background: #666;
        left: -88px;
        top: 50%;
    }

    &:nth-child(4n+1) {
        margin-left: 20px;
    }
}

.checkin-area {
    margin-top: 90px;
    text-align: center;

    &.checkin-success {
        margin-top: 145px;

        .checkin-success-tip {
            display: block;
        }

        .checkin-btn {
            display: none;
        }
    }


    .checkin-success-tip {
        display: none;
        .success-icon {
            display: inline-block;
            vertical-align: middle;
            width: 264px;
            height: 56px;
            background: url(../image/checkin_a/checkin_success1.png) center center no-repeat;
            background-size: 100%;
        }
        span {
            vertical-align: middle;
            font-size: 64px;
            color: #fff;
            padding-left: 20px;
        }
    }
    
    .checkin-btn {
        display: block;
        width: 812px;
        height: 190px;
        margin: 0 auto;
        background: url(../image/checkin_a/checkin_btn1.png) center center no-repeat;
        background-size: 100%;
    }
}

.checkin-pop-warp {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 825px;
    height: 560px;
    margin-left: -414px;
    margin-top: -280px;
    z-index: 14;

    &.lg {
        width: 925px;
        height: 760px;
        margin-left: -462px;
    }

    .checkin-pop {
        position: relative;
        width: 825px;
        height: 560px;
        margin: 0 auto;
        background: url(../image/checkin_a/pop-bg.png) center center no-repeat;
        background-size: 100%;
    
        i.pop-close {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 100px;
            height: 118px;
            background: url(../image/checkin_a/pop-close.png) 40px 20px no-repeat;
            background-size: 30%;
        }
    
        .cp-content {
            display: table;
            width: 100%;
            height: 100%;
    
            .cp-ine {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }
    }

    .ci-pop-msg {
        width: 100%;
        margin-top: 70px;
        color: #FFC99C;
        border: 1px solid #FFC99C;
        border-radius: 30px;
        font-size: 20px;
        padding: 5px 0;
        text-align: center;
    }

}

.offset-warp {
    position: relative;
    overflow: hidden;
}

.qd-suucess {
    width: 248px;
    height: 208px;
}
.cp-txt {
    padding-top: 10px;
    color: #fff;
}

.head-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 690px;
    background: url(../image/checkin_a/head_bg.png) center center no-repeat;
    background-size: 100%;
    z-index: 2;
}
.chkm-middle {
    position: relative;
    background: #fff;
    padding-top: 1000px;
    margin-top: -280px;
}

.calendar {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
.calendar-bg-shadow {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 950px;
    height: 850px;
    margin-left: -500px;
    background: rgba(0,0,0,.03);
    box-shadow: 0 0 1000px #e1e1e1;   
}

.calendar-bg-z {
    width: 100%;
    height: 100%;
}
.chi-m-tips {
    padding-top: 50px;
    color: #4b4b4b;
    text-align: center;
    font-size: 36px;
}
.shwn {
    display: block;
    width: 800px;
    height: 165px;
    line-height: 165px;
    border-radius: 165px;
    font-size: 68px;
    background: url(../image/checkin_a/checkin_btn.png) center center no-repeat;
    background-size: 100%;
    margin: 30px auto 0;
    text-align: center;
}

.shwn-success {
    display: block;
    width: 264px;
    height: 165px;
    background: url(../image/checkin_a/qdcg.png) center center no-repeat;
    background-size: 100%;
    margin: 30px auto 0;
    text-align: center;
}
.che-sw {
    margin-right: 10px;
    width: 53px;
    height: 53px;
}

.calendar {
    .calendar-head {
        position: relative;
        height: 140px;
        padding: 0 70px;
        text-align: center;
        background: url("../image/checkin_a/calendar-header.png") center 10px no-repeat;
        background-size: 100%;

        i.arrow {
            position: absolute;
            top: 74px;
            display: block;
            width: 34px;
            height: 40px;

            &.left {
                left: 80px;
                width: 0;
                height: 0;
                border-top: 22px solid transparent;
                border-left: 40px solid transparent;
                border-bottom: 22px solid transparent;
                border-right: 40px solid #cfcfcf;

                &.able {
                    border-right: 40px solid #ff6339;
                }
            }

            &.right {
                right: 80px;
                width: 0;
                height: 0;
                border-top: 22px solid transparent;
                border-left: 40px solid #cfcfcf;
                border-bottom: 22px solid transparent;
                border-right: 40px solid transparent;


                &.able {
                    border-left: 40px solid #ff6339;
                }
            }
        }

        .year-show {
            padding-top: 60px;
            color: #4c4c4c;
            font-size: 54px;
            display: inline-block;
        }
    }

    .calendar-body {
        background: #fff;
        padding: 0 70px 30px;
        border-radius: 0 0 50px 50px;
        
        .calendar-weeks {
            overflow: hidden;
            .week {
                width: 134px;
                height: 120px;
                line-height: 134px;
                float: left;
                color: #4b4b4b;
                text-align: center;
                
                &.td-week {
                    color: #ff5555;
                }
            }
            
        }
    
        .calendar-days {
            overflow: hidden;
            font-size: 44px;
            .day {
                margin-top: 20px;
                width: 134px;
                height: 120px;
                line-height: 134px;
                float: left;
                color: #4b4b4b;
                text-align: center;

                &.gray {
                    color: #d0d0d0;
                }

                &.active span{
                    display: block;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    margin: 25% auto;
                    color: #fff;
                    background: url(../image/checkin_a/active.png) center center no-repeat;
                    border-radius: 100%;
                }

                .d-gift {
                    width: 134px;
                    height: 120px;
                    background: url(../image/checkin_a/gift-bling.png) center center no-repeat;
                    background-size: 100%;
                }
            }
        }

    }
}
.chahua {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 610px;
    background: url(../image/checkin_a/chahua.png) center center no-repeat;
    background-size: 100%;
}