/***************** theme start ******************/

body.chinared {
    background: #f03939;

    .count_down-warp {
        color: #fff;
    }
    
    .count_down-warp .cd-item {
        color: #f64848;
    }

    .tips {
        color: #fff6c2;
    }

    .unjoin_tips {
        color: #fff6c2;
    }

    .pt_unenough {
        color: #fff6c2;
    }

    .click-area.click-able {
        color: #fff6c2;
    }

    .hl-td, .hl-th {
        color: #fff6c2;
    }
    .zj-list ul li {
        color: #fff6c2;
    }
    .click-area.click-able {
        .arrow {
            border-left-color: #fff6c2;
        }
    }
}

body.skyblue {
    background: #3878e4;

    .count_down-warp {
        color: #0e54b4;
    }
    
    .count_down-warp .cd-item {
        color: #0e54b4;
    }

    .tips {
        color: #0e54b4;
    }

    .unjoin_tips {
        color: #fff;
    }

    .pt_unenough {
        color: #fff;
    }

    .click-area.click-able {
        color: #fff;
    }

    .hl-td, .hl-th {
        color: #fff;
    }
    .zj-list ul li {
        color: #0e54b4;
    }

    .click-area.click-able {
        .arrow {
            border-left-color: #fff;
        }
    }
}


/***************** theme end ******************/

.title {
    margin: 0 auto;
    display: block;
    width: 1242px;
}

.btn_group {
    width: 970px;
    margin: 27px auto 0;
    overflow: hidden;
}

.left-btn, .right-btn {
    width: 348px;
    height: 128px;
}

.point-number {
    vertical-align: middle;
    margin-top: 26px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    height: 60px;
    line-height: 60px;

    span {
        display: inline-block;
        vertical-align: middle;
    }

    span.pt {
        font-size: 60px;
        padding: 0 40px;
    }
    span.nu {
        font-size: 60px;
        padding:0 20px;
    }
}

.another {
    position: absolute;
    bottom: -10px;
    left: -75px;
    width: 315px;
    height: 305px;
    z-index: 10;
}

.click-area {
    font-size: 45px;
    color: #fff6c2;
    padding-left: 88px;

    .arrow {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-top: 22px solid transparent;
        border-left: 40px solid #fff6c2;
        border-bottom: 22px solid transparent;
        border-right: 40px solid transparent;
    }
}

.click-area.click-able {
    color: #fff6c2;

    .arrow {
        border-left-color:#fff6c2;
        -webkit-transform-origin: 35% 70%;
        transform-origin: 35% 70%;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.tip2 {
    width: 1120px;
    margin: 38px auto 0;
    text-align: center;
}

.unjoin_tips {
    width: 100%;
    height: 80px;   
    line-height: 80px;
    padding: 0 55px;
    color: #fff6c2;
    font-size: 40px;
    text-align: center;
    border: 1px dashed #fff6c2;
    border-radius: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pt_unenough {
    display: inline-block;
    color: #fff6c2;
    font-size: 40px;
    height: 80px;   
    line-height: 80px;
    padding: 0 55px;
    text-align: center;
    border: 1px dashed #fff6c2;
    border-radius: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.history-list {
    margin-top: 50px;
}
.history-list-warp {
    width: 1000px;
    margin: 55px auto 0;
}

.hl-th, .hl-td {
    width: 100%;
    display: table;
    color: #fff6c2;

    div{
        display: table-cell;
        text-align: center;

        &.prize-order {
            width: 85px;
        }
        &.prize-name {
            width: 200px;
        }
        &.prize-time {
            width: 200px;
        }
        &.prize-pt {
            width: 180px;
        }
    }
}

.hl-th {
    font-size: 40px;
    margin-bottom: 12px;
}
.hl-td {
    font-size: 34px;
    padding-top: 42px;
}


.form-content {
    padding: 100px 80px 50px;

    .form-item {

        margin-bottom: 80px;

        .input-tips {
            font-size: 26px;
            color: #d0d0d0;
            padding-bottom: 10px;
            span {
                color: #ff5555;
            }
        }

        &.error {
            border-bottom-color: #ffbaba;

            .error_tips {
                display: block;
            }

            .success_tips {
                display: none;
            }
        }

        .error_tips {
            display: none;
        }

        .success_tips {
            display: block;
        }

        border-bottom: 1px solid #686868
    }
}

.msgCode_btn {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #ff5555;
    font-size: 35px;
    min-width: 150px;
    text-align: center;
    border-radius: 50px; 
    padding: 20px 25px;
    margin-bottom: 30px;
}

.opcity-input {
    font-size: 50px;
    padding: 15px 0;
    color:#686868;
    outline: none;
    border: none;
}

.imgCode_img {
    width: 221px;
    height: 83px;
}

.validate_btn {
    display: block;
    width: 609px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 0 auto;
    background: #d0d0d0;
    color: #fff;
    border-radius: 150px;

    &.enable {
        background: #f03839;
    }
}

.submit-btn {
    margin: 130px auto 0;
}

.ybd {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 166px;
}

.placeholder_place {
    height: 60px;
}

.un-click-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0);
    z-index: 6;
}